* {
    margin: 0px;
}

.font {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.geelfont {
    color: #FFC22F;
}

.midden {
    display: flex;
    justify-content: space-between !important;
    align-items: center;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.popp {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.white {
    color: white;
}

h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
}

.blauw {
    background-color: #3F72FF;

}

.geel {
    background-color: #FFC22F;
}

.width100 {
    width: 100vw;
}

/* header */
#header {
    height: 10vh;
}

.login {
    width: 10%;
    height: 80%;
    border-radius: 25px;
}

.margin {
    margin: 10px;
}

.headerbuttons {
    width: 25%;
}

/* header_eind */
a {
    width: 49%;
}

/* index landingspagina homepage */

.onze {
    font-family: "Poetsen One", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 80px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.trip-item {
    box-sizing: border-box;
    height: 300px;
    display: flex;

    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.margintopbot {
    margin-top: 10px;
    margin-bottom: 10px;
}

.trip-info {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.trip-price {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.info_landen {
    height: 500px;
}


.zoekform {
    height: 20vh;
    width: 100%;
}

.fotoinfo {
    width: 600px;
    height: 400px;
}

.between {
    display: flex;
    justify-content: space-around;
    height: 400px;
}

.content {
    display: flex;
    justify-content: space-evenly;
}





/* login page */


.fontgrey {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #818181;
}

.font2 {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #BFBFBF;
}


.geelfont {
    color: #FFC22F;
}

.midden {

    display: flex;
    justify-content: space-between !important;
    align-items: center;


}

.bluevak {


    width: 100%;
    height: 50vh;
    background-color: #3F72FF;
}

.loginpage {
    height: 105vh;
    width: 100%;
    display: flex;
    justify-content: center;


}

.loginform {
    width: 80%;
    height: 100vh;
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 60px 4px;

    margin-top: -200px;




}

.wwinput {
    margin-top: -70px;
}

.submitvak {
    margin-bottom: 40px;
}

.logintitle {
    width: 100%;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3F72FF;
    font-size: 35px;


}

span::before,
::placeholder {
    padding: 20px;
}

input[type=password] {
    padding-left: 20px;
    padding-right: 20px;
}

input[type=email] {
    padding-left: 20px;
    padding-right: 20px;
}

input[type=text] {
    padding-left: 20px;
    padding-right: 20px;
}

.logvak {

    width: 25vw;
    height: 8vh;
    border-radius: 40px;
    border-style: none;
    background-color: #E3E3E3;

}

.logvakbericht {

    width: 27vw;
    height: 22vh;
    border-radius: 40px;
    border-style: none;
    background-color: #E3E3E3;

}

.custom-input {
    display: block;
    width: 100%;
    height: 150px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.5;
}

.to_register {
    display: flex;
    justify-content: right;
    width: 25vw;
    color: black;
}

.loginbutton {
    width: 15vw;
    height: 8vh;
    background-color: #3F72FF;
    font-size: 30px;
    border-style: none;
    border-radius: 40px;
}


.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoflex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.popp {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.white {
    color: white;
}

h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
}

.vluchtinfoplaats {
    height: 60vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tableblauw {
    font-size: 20px;
    font-weight: 700;
    height: 50vh;
    width: 70vw;
    background-color: #3F72FF;
    border-radius: 20px;
    border-spacing: 0cap;
    text-align: left;




}

.inforeis {
    display: flex;
    justify-content: space-between;
}

.inforeistext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
}

.geel {

    background-color: #FFC22F;

}

.fontsize {
    font-size: 35px;
}

.width100 {
    width: 100vw;
}

/* header */
#header {
    height: 12vh;

}

.login {
    width: 10%;
    height: 80%;
    border-radius: 25px;

}

.margin {
    margin: 10px;
}

.headerbuttons {
    width: 25%;
}

/* header_eind */
a {
    width: 60%;
}

/* index landingspagina homepage */

.onze {
    font-family: "Poetsen One", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 80px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.trip-item {
    box-sizing: border-box;
    height: 300px;
    display: flex;

    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.margintopbot {
    margin-top: 10px;
    margin-bottom: 10px;
}

.trip-info {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.trip-price {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.info_landen {
    height: 500px;
}


.zoekform {
    height: 20vh;
    width: 100%;
}

.rijsvak {
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: solid;
}

.rijsvak2 {
    border-style: none;
    display: flex;
    justify-content: center;
    border-right: solid;
    width: 20vw;

}

#destinationForm {
    display: flex;
    justify-content: space-between;
    width: 63vw;
}

.border {
    border-left: black !important;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;

}

.border2 {
    border-right: black !important;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;

}

.rijsbutton {
    display: flex;
    justify-content: right;


}

.rijsbuttonelements {
    background-color: #FFC22F;
    border-radius: 40px;
    width: 10vw;
    color: white;
    border-style: none;
}

.rijsbalk {
    background-color: white;
    border-style: solid;
    width: 50vw;
    height: 5vh;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ppvak {
    display: flex;
    align-items: center;
}

.fotoinfo {
    width: 600px;
    height: 400px;
    margin: 40px;
}

.between {
    display: flex;
    justify-content: space-around;
    height: 400px;
}

.content {
    width: 40vw;

}

.tekstOver {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;

}

.contactBerichten {
    width: 30%;
    height: 300px;

}

.buttonvak {
    width: 85%;
    height: 10vh;
    display: flex;
    justify-content: right;
}

.buttonvorm {
    border-radius: 20px;
    width: 10vw;
}