* {
    margin: 0px;
}

.font {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.geelfont{
    color: #FFC22F; 
}

.midden{
    display: flex;
    justify-content: space-between !important;
    align-items: center;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.popp {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.white {
    color: white;
}

h3{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
}

.blauw {
    background-color: #3F72FF;
}

.geel {
    background-color: #FFC22F;
}

.width100 {
    width: 100vw;
}

/* header */
#header {
    height: 10vh;
}

.login{
    width: 10%;
    height:80%;
    border-radius: 25px;
}

.margin{
margin: 10px;
}

.headerbuttons{
    width: 25%;
}
/* header_eind */
a{
    width: 49%;
}

/* index landingspagina homepage */

.onze {
    font-family: "Poetsen One", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 80px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

.trip-item {
    box-sizing: border-box;
    height: 300px;
    display: flex;
    
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.margintopbot{
    margin-top: 10px;
    margin-bottom: 10px;
}

.trip-info {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.trip-price {
    position: absolute;
    bottom: 20px;
    right: 20px; 
}
.info_landen{
    height: 500px;
}


.zoekform{
    height: 20vh;
    width: 100%;
}

.fotoinfo{
    width: 600px;
    height: 400px;
}
.between{
    display: flex;
    justify-content: space-around;
    height: 400px;
}
.content{
    display: flex;
    justify-content: space-evenly;
}

.tekstOver{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 40%;
}



/* login page */

.fontgrey {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
color: #818181;
}

.bluevak{
    width: 100%;
    height: 50vh;
    background-color: #3F72FF;
}
.loginpage{
height: 105vh;
width: 100%;
display: flex;
justify-content: center;


}
.loginform{
    width: 80%;
   height: 100vh;
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 60px 4px;
   
    margin-top: -200px;
    
   
    
    
}
.wwinput{
margin-top: -70px;
}
.submitvak{
margin-bottom: 40px;
}
.logintitle{
    width: 100%;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
background-color: #3F72FF;
font-size: 35px;


}
.logvak{
    width: 25vw;
    height: 8vh;
    border-radius: 40px;
    border-style: none;
    background-color: #E3E3E3;
}
.to_register{
display: flex;
justify-content: right;
width: 25vw;
color: black;
}
.loginbutton{
    width: 15vw;
    height: 8vh;
    background-color: #3F72FF;
    font-size: 30px;
    border-style: none;
    border-radius: 20px;
}
