
* {
    margin: 0px;
}

.font {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}



.midden{
    display: flex;
    justify-content: space-between !important;
    align-items: center;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.popp {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.white {
    color: white;
}


h3{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
}

.blauw {
    background-color: #3F72FF;
}

.geel {
    background-color: #FFC22F;
}

.width100 {
    width: 100vw;
}



/* header */
#header {
    height: 10vh;
}

.Login{
    width: 10%;
    height:80%;
    border-radius: 25px;
}

.margin{
margin: 10px;
}

.headerbuttons{
    width: 25%;
}
/* header_eind */


/* index landingspagina homepage */
.container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-between; 
}

.trip-item {
    width: calc(50% - 40px); 
    box-sizing: border-box;
    padding: 20px;
    margin: 10px; 
    border-radius: 8px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    position: relative;
}

.trip-info {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.trip-price {
    position: absolute;
    bottom: 20px;
    right: 20px; 
}
